 #container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
     text-align: center;
}

.casing {
    width: 500px;
    height: 500px;
    background: gray;
    margin: auto;
    position: relative;
}

.casing .switch {
    width: 50px;
    height: 150px;
    background: white;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.casing .switch.on {
    width: 50px;
    height: 150px;
    background: white;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.casing .possibly-disabled {
    position: absolute;
}
.casing #topLeftLink {
    top: 0;
    left: 0;
}
.casing #topRightLink {
    top: 0;
    right: 0;
}
.casing #bottomLeftLink {
    bottom: 0;
    left: 0;
}
.casing #bottomRightLink {
    bottom: 0;
    right: 0;
}
